@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-image: url("./images/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
